.card{
    width: 500px;
    margin : 40px auto;
    border: 1px solid lightgray;
    border-radius: 14px;
    font-family: sans-serif;
}
.card-text{
    color: gray;
}

.border-line{
    border-top: 1px solid lightgray;
}
.card-body{
   padding: 20px 50px 20px 20px;
}
.profile-text{
    font-weight: bold;
    color: blue;
}
.card-img {
 width: 25%;
 padding: 15px;
}